
*{
    margin: 0;
    padding:0;
}

header{
    background-color: #007acc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: top 10xp;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}



body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: orange;
}

/*Estilos Footer*/
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    
}
.contenido{
    padding: 40px;
    text-align: center; 
}
.formulario{
    max-width: 500px;
    margin: 30px auto;
    background-color: #e9a553;
    padding: 20px;
    border-radius: 8px;
}