

.bg-primary{
    background-color: #2c3e50 !important;
}

/* img{
    max-width: 5%;
} */

.progress{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.text-primary{
    color: #3498db !important;
}
