
*{
    margin: 0;
    padding:0;
}

header{
    background-color: #007acc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: top 10xp;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}



body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: blue;
}

h2 {
    color: rgb(2, 32, 60);
}

h3 {
    color: rgb(0, 255, 13);
}

/*Estilos Footer*/
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    
}
.contenido{
    padding: 40px;
    text-align: center; 
}
.formulario{
    max-width: 500px;
    margin: 30px auto;
    background-color:#b4d7d7;
    padding: 20px;
    border-radius: 8px;
}
.formulario h2{
    margin-bottom: 15px;
text-align: center;}
.formulario label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.formulario input,
.formulario textarea{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    }

    .formulario button{
        margin-top: 15px;
        padding: 10px 20px;
        background-color: #467c7c;
        color: white;   
        border: none;
        cursor: pointer;
            }
    .formulario button:hover{
        background-color: #ff0000f8;
    }